go 1.22.3

toolchain go1.22.4

use (
	./mylife-home-common
	./mylife-home-core
	./mylife-home-core-generator
	./mylife-home-core-library
	./mylife-home-core-plugins/driver-absoluta
	./mylife-home-core-plugins/driver-klf200
	./mylife-home-core-plugins/driver-notifications
	./mylife-home-core-plugins/driver-tahoma
	./mylife-home-core-plugins/logic-base
	./mylife-home-core-plugins/logic-clim
	./mylife-home-core-plugins/logic-colors
	./mylife-home-core-plugins/logic-selectors
	./mylife-home-core-plugins/logic-timers
	./mylife-home-core-plugins/ui-base
)
