go 1.22.3

toolchain go1.22.4

use (
	./common/mylife-home-common
	./core/mylife-home-core
	./core/mylife-home-core-generator
	./core/mylife-home-core-library
	./core/plugins/driver-absoluta
	./core/plugins/driver-klf200
	./core/plugins/driver-notifications
	./core/plugins/driver-tahoma
	./core/plugins/logic-base
	./core/plugins/logic-clim
	./core/plugins/logic-colors
	./core/plugins/logic-selectors
	./core/plugins/logic-timers
	./core/plugins/ui-base
	./ui/mylife-home-ui
)
